/* h2{
    color: orange;
}
p{
    background-color: black;
    color: white;
}
button{
    background-color: blue;
    color: white;
} */
/* .innerContainerLogo{
    font-family: league-spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: teal;
    text-transform: uppercase;
} */
/* .mainHeading{
    color: blue;
}
.upperButton{
    background-color: aqua;
    color: black;
}
#searchButton{
    background-color: black;
    color: white;
} */

#mainTopic{
    color: blue;
}
*{
    text-align: center;
}
h1, h3, h5{
    font-family: 'georgia';
}
h3 + p, p + p{
    background-color: cornflowerblue;
    color: white;
}
div > button{
    background-color: purple;
    color: azure;
}
div > button:hover{
    background-color: yellow;
    color: blue;
}
p:nth-of-type(2n-1){
    background-color: yellow;
}
h1::first-letter{
    color: red;
    font-size: 50px;
}
#yes:checked+label{
    color: darkgreen;
    font-size: 20px;
}