div{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: green;
    border: 2px solid black;
}
#staticPosition{
    top: 10px;
    left: 10px;
    position: static;
    background-color: red;
}
#relativePosition{
    top: 10px;
    left: 10px;
    position: relative;
    background-color: red;
}
#absolutePosition{
    top: 100px;
    left: 400px;
    position: absolute;
    background-color: red;
}
#fixedPosition{
    top: 100px;
    left: 500px;
    position: fixed;
    background-color: red;
}