/* IMPORTING STYLISH FONTS FROM GOOGLE FONTS USING @import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.centralheading {
    font-family: "Abril Fatface", serif;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
}